:root {

/* Colors: */
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-fcfcfc: #FCFCFC;

/* Font/text values */
--unnamed-font-family-helvetica: Helvetica;
--unnamed-font-family-roboto: Roboto;
--unnamed-font-family-poppins: Poppins;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-20: 20px;
--unnamed-font-size-23: 23px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-72: 72px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-35: 35px;
--unnamed-line-spacing-86: 86px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-35);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-fcfcfc);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-helvetica);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-helvetica);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-23);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-72);
line-height: var(--unnamed-line-spacing-86);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-fcfcfc);
}